body {
  background-color: #87CEFA;
}

p {
  margin-bottom: 40px;
}

.imgSize {
  width: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  border-radius: 70%;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: yellow;
  }

  nav {
    margin: 0 auto;
    width: 100%;
  }
}
nav {
  margin-bottom: 170px;
}

.navUl {
  list-style-type: none;
  list-margin: 0;
  list-padding: 0;
  width: 100%;
}

.navLi {
  float: left;
}

.navA {
  display: block;
  padding: 7px;
  background-color: #dddddd;
}

.borderSty1 {
  border-width: 3px;
  border-color: green;
  border-style: solid;
  border-radius: 10px;
  background-color: lightgreen;
}

.borderSty2 {
  border-width: 3px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  background-color: orange;
}

.borderSty3 {
  width: 570px;
  background-color: silver;
  margin-bottom: 40px;
}

.borderSty4 {
  width: 230px;
  background-color: #32ff64;
  margin-bottom: 40px;
}

h1 {
  color: red;
  font-family: georgia;
  font-size: 40px;
}

h3 {
  text-decoration: underline;
  color: red;
  font-family: georgia;
  font-size: 20px;
}

#bold {
  color: purple;
  font-family: Lobster;
  font-size: 25px;
}

.red-text {
  font-family: monospace;
  color: #ff1964;
  font-size: 20px;
}
